body {
  background-color: #F4F9F9;
  font-weight: 800;
  font-family: 'Comic Neue', cursive;
  font-size: 1.2rem;
  color: #FFFFFF;
  padding: 0 1rem;
}

@media (max-width: 820px) {
  body {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  body {
    font-size: 0.8rem;
  }
}

h1 {
  color: #545454;
}

.container {
  max-width: 30rem;
  margin: 0 auto;
  text-align: center;
}

.accordion {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media (min-width: 820px) {
  .accordion:hover .accordion__icon {
    opacity: 1;
    visibility: visible;
  }

  .accordion:hover .accordion__title {
    color: #FFFFFF;
  }

  label {
    cursor: pointer;
  }
}

.accordion__panel {
  background-color: #FFFFFF;
}

label .accordion__heading {
  cursor: pointer;
}

.accordion__heading {
  background-color: #F25287;
  display: block;
  padding: 1rem 1.2rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #FFFFFF;
}

.accordion__panel:last-child .accordion__heading {
  border-bottom: 2px solid transparent;
}

.accordion__title {
  color: #FFF8CD;
  font-size: 1.3rem;
  font-weight: 800;
  letter-spacing: 0.08rem;
  transition: all 0.8s ease;
}

@media (max-width: 820px) {
  .accordion__title {
    font-size: 1.1rem;
  }
}

@media (max-width: 320px) {
  .accordion__title {
    font-size: 1rem;
  }
}

.accordion__content {
  overflow: hidden;
  visibility: hidden;
  max-height: 0;
  transition: all 0.8s ease;
}

.accordion__icon {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.accordion__content > * {
  opacity: 0;
  transition: all 0.8s ease;
}

input {
  display: none;
}

input:checked + label > .accordion__content {
  max-height: 100vh;
  visibility: visible;
  opacity: 1;
  padding: 1rem;
}

input:checked + label > .accordion__content > * {
  opacity: 1;
}

input:checked + label .accordion__icon {
  transform: rotate(45deg);
}

@media (min-width: 820px) {
  label:hover > .accordion__content {
    max-height: 100vh;
    visibility: visible;
    opacity: 1;
    padding: 1rem;
  }

  label:hover > .accordion__content > * {
    opacity: 1;
  }

  label:hover .accordion__icon {
    transform: rotate(45deg);
  }
}

input:checked + label .accordion__title {
  color: #FFFFFF;
  font-weight: 800;
}

.accordion__content > img {
  max-width: 23rem;
  width: 90%;
}